.pagination {
    margin-top: auto;
    padding: 0 3.5rem;
  
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  
    &__btn {
      &--prev {
        float: left;
      }
      &--next {
        float: right;
      }
    }
  }